{% extends "::administrador.html.twig" %}
{% block title %}
    Aseduis
{% endblock %}
{% block titulo %}
    <h2>Egresado: <small>Parfíl.</small></h2>
{% endblock %}


{% block contenido %}
    <div class="row">
        <div class="col-md-12"><h4>Información General</h4></div>
     
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">.col-md-6</div>
                <div class="col-md-6">.col-md-6</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">.col-md-6</div>
                <div class="col-md-6">.col-md-6</div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

{% endblock %}
